.img {
  margin: 0 auto 4px;
}
.name {
  font-size: 18px;
  margin-bottom: 2px;
  text-align: center;
}
.online-green {
  color: green;
  text-align: center;
}

.offline-red {
  color: red;
  text-align: center;
}
